################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SFMLMp3/.vs/SFMLMp3/v15
/SFMLMp3/SFMLMp3/Debug
